* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    transition: all 0.5s;
}

html, body {
    margin: 0px;
}

main {
    margin: 10px 10px 60px 60px;
}

header, footer {
    padding: 10px;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}

a {
    color: #6b6b6b;
    transition: all 0.5s;
}
a:visited {
    color: #b86db4;
}
a:hover {
    color: #dd2727;
}

header, footer {
    font-size: 10pt;
}
header a, #menu a {
    color: #525252;
}
header a:visited, #menu a:visited {
    color: #f3cbf2;
}
header a:hover, #menu a:hover {
    color: #6ed6a6;
}
header {
    background: #2f89bd;
    color: white;
    top: 0px;
    text-align: center;
    float: left;
    position: fixed;
    height: 100%;
    display: table;
    z-index: 1;
}
header * {
    padding: 0px;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    padding: 20px;
    white-space: nowrap;
}
footer {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 0;
    background: #dedede;
    color: #676767;
}
#footerWrapper {
    margin-left: 70px;
}

#menu
{
    position: fixed;
    left: -120%;
    top: 0px;
    bottom: 0px;
    width: 350px;
    background: #2f89bd;
    transition: all 0.4s;
    color: white;
    box-shadow: 0px 0px 15px #000000;
    margin: 0px;
    z-index: 4;
}
#menu, #menu * {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}
#menu p {
    font-size: 26pt;
    margin: 0px 0px 0px 10px;
}    
#menu ul
{
    margin: 0px 0px 0px 5px;
    font-size: 18pt;
}
#menu ul * {
    margin: 0px;
    font-size: 18pt;
}
#siteCoverForMenu
{
    background: #888888;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -120%;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    margin: 0px;
    z-index: 3;
}

#updates {
    margin-left: 20px;
}

.menuList {
    margin-left: 20px;
}

@media (max-width: 500px)
{
    main {
        margin: 10px;
    }
    #siteCoverForMenu {
        display: none;
    }
    #menu {
        width: 100%;
    }
    #menu p {
        font-size: 26pt;
    }
    #menu li, #menu li a {
        font-size: 18pt;
    }
    header, footer {
        background: #2f89bd;
        color: white;
        font-size: 10pt;
        left: 0px;
        right: 0px;
        width: auto;
        height: auto;
        margin: 0px;
        position: static;
        float: none;
        display: block;
    }
    header {
        top: 0px;
        text-align: center;
        transform: none;
    }
    header * {
        padding: 0px;
    }
    header h1 {
        transform: none;
        left: auto;
        top: auto;
        position: static;
    };
    footer {
        bottom: 0px;
        display: block;
    }
    footer a:visited {
        color: #f3cbf2;
    }
    footer a:hover {
        color: #6ed6a6;
    }
    #footerWrapper {
        margin: 0px;
    }
}

@media (prefers-color-scheme: dark)
{
    * {
        color: white;
        background: #232323;
    }

    header, footer, header *, footer * {
        background: #14836C;
        color: black;
    }
    header a, footer a, #menu a {
        color: white;
    }
    header a:hover, footer a:hover, #menu a:hover {
        color: #1f3d7c;
    }
    header h1 {
        background: none;
    }
    
    a {
        color: #a9a9a9;
    }    
    a:visited {
        color: #e792e3;
    }
    a:hover {
        color: #dd2727;
    }

    #menu, #menu * {
        color: black;
        background: #14836C;
    }
}