* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
}

h1 {
    font-size: 20px;
}

a {
    color: #4f8a6e;
    text-decoration: none;
    transition: all 0.5s;
}
a:hover {
    color: #0c6d40;
}
a:visited {
    color: #d4cf89;
}

header, footer {
    background: #59b188;
    color: white;
    font-size: 10pt;
}

br {
    padding: 5px;
}
